@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background: #f1f1f1;
}

.custom-focus-ring:focus {
  border-color: #5787c8;
  box-shadow: 0 0 0 3px rgba(87, 135, 200, 0.3);
}

.main .sidebarWrapper {
  height: 100vh;
}
.main .sidebarWrapper .sidebar {
  height: 100vh;
  background: #fff;
}
.main .sidebarWrapper .sidebar .sidebarTabs button {
  justify-content: flex-start !important;
  color: #5e5d72;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px !important;
}
.main .sidebarWrapper .sidebar .sidebarTabs button svg {
  font-size: 20px;
}

/* header{height: 60px; width: 83%;} */
.space {
  margin-top: 70px;
}

header .part2 button {
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100% !important;
  background: #f0f5ff !important;
  color: #000;
}
header .part2 button svg {
  font-size: 18px;
  color: #292929;
}

.userImage {
  overflow: hidden;
  border-radius: 100%;
}

a.active > .linkBtn {
  background-color: #e6e8ee !important;
  position: relative;
}

/* a.active > .linkBtn::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 6px;
  left: 0;
  top: 0;
  background-color: #5787c8;
} */

.rounded-circle {
  min-width: 45px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 100% !important;
  background: #f0f5ff !important;
  color: #292929;
}

.rounded-circle svg {
  font-size: 20px;
  color: #292929;
}

/* Custom scrollbar styles */

.scrollable::-webkit-scrollbar {
  width: 12px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #447f8c, #4690ff);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollables::-webkit-scrollbar {
  width: 12px;
}

.scrollables::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollables::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Horizontal Scroll */
.hori-scrollable {
  height: 100%;
  overflow-x: auto; /* Ensure horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  padding-bottom: 5px;
}

.hori-scrollable::-webkit-scrollbar {
  height: 10px; /* Adjust this value to decrease scrollbar height */
}

.hori-scrollable::-webkit-scrollbar-track {
  background: #ffffff; /* Track color */
}

.hori-scrollable::-webkit-scrollbar-thumb {
  background-color: #c8c8c8; /* Scrollbar color */
  border-radius: 8px; /* Rounded corners */
  border: 2px solid transparent; /* Space around the thumb */
  background-clip: content-box; /* Ensures border color is visible */
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* @keyframes spinner {
  to {
    transform: rotate(360deg);
  }
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spinner 0.6s linear infinite;
}

/* Global CSS or in your styles file */
.sidebar-scrollable {
  height: 100%;
  overflow-y: auto;
}

.sidebar-scrollable::-webkit-scrollbar {
  width: 10px;
}

.sidebar-scrollable::-webkit-scrollbar-track {
  background: #ffffff;
}

.sidebar-scrollable::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}
